@media (max-width: 576px) {
  .view__info h1 {
    font-size: 22px;
  }
  .view__info p {
    font-size: 14px;
  }
  .desc__about h3 {
    font-size: 22px;
  }
  .desc__about p {
    font-size: 14px;
  }
  .desc__tech h3 {
    font-size: 22px;
  }
}

@media (max-width: 320px) {
  .projects__info h5 {
    margin: 5px 0;
    font-size: 12px;
  }
  .projects__button {
    padding: 7px 13px;
    font-size: 10px;
  }
}
