@import './mixins.scss';
@import './variables.scss';
@import './animations.scss';



// header
.header {
	&__container {
		padding: 20px 100px 0 100px !important;

		@include media('max', 'lg') {
			padding: 0 15px !important;
		}
	}

	&__wrapper {
		height: 60px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__nav {
		cursor: default;
	}

	&__item {
		display: inline-block;
		text-decoration: none;
		color: #fff;
		font-family: $main-font;
		font-weight: bold;
		margin-right: 40px;
		position: relative;
		font-size: $menu-item-size;
		overflow-x: hidden;
		overflow: hidden;
		padding-bottom: 5px;

		&:last-child {
			margin-right: 0;
		}

		span {
			border-radius: 10px;
			display: block;
			width: 100%;
			height: 2px;
			background-color: #fff;
			position: absolute;
			bottom: 0;
			transform: translateX(calc(-100% - 5px));
		}

		&:hover {
			text-decoration: none;
		}


		@keyframes item-slide {
			0% {
				transform: translateX(calc(-100% - 5px));
			}

			20% {
				transform: translateX(0);
			}

			30% {
				transform: translateX(0);
			}

			50% {
				transform: translateX(calc(100% + 10px));	
			}
		}
	}

	&__modal-btn {
		display: none;
		position: relative;
		z-index: 100;
		width: 30px;
		height: 30px;
		cursor: pointer;
		transition: 200ms ease-in-out;

		&.active {
			transform: rotate(90deg);
		}

		span {
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
			border-radius: 100px;
			top: 50%;
			transform-origin: center center;
			transition: .2s ease-in-out;

			&:first-child {
				transform: translate(0, calc(-50% + 3px));
			}

			&:last-child {
				transform: translate(0, calc(-50% - 3px));
			}
		}
	}

	@include media('max', 'sm') {
		&__nav {
			border-radius: 5px;
			z-index: 100;
			display: flex;
			flex-direction: column;
			position: absolute;
			right: 15px;
			top: 65px;
			padding: 20px 30px;
			background-color: #000;
			border: 1px solid #3B3B3B;
			text-align: center;
			max-width: 200px;
			transform-origin: top right;
			transform: rotate(-90deg) translateY(15px);
			transition: transform 200ms ease-in-out;

			a {
				margin: 10px 0;
			}

			&.active {
				transform: translateY(15px);				
			}
		}

		&__modal-btn {
			display: unset;
		}
	}
}

// about
.about {
	perspective: 1400px;
	transform-style: preserve-3d;

	#matrix {
		position: absolute;
		transform: translateZ(-130px);
		z-index: -1;
		top: 0;
	}

	&__wrapper {
		display: flex;
		padding: 50px 0;

		&.no-parallax {
			justify-content: center;
			align-items: center;
		}
	}

	&__picture {
		position: absolute;
		overflow: hidden;
		max-width: 800px;
		max-height: 470px;
		background-color: rgba(28, 28, 28, 0.8);
		display: flex !important;

		&.no-parallax {
			transform: translate(200px, 0) rotateY(-20deg) !important;

			@include media('max', 'lg') {
				transform: translate(0, 0) !important;
			}

			img {
				@include media('max', 'sm') {
					transform: translateX(-130px);
				}
				
				@include media('max', 'xs') {
					transform: translateX(-200px);
				}
			}
		}

		
		img {
			display: inline-block;
			object-fit: contain !important;
		}
	}

	&__term {
		z-index: 10;

		&.no-parallax {
			transform: translate(-200px, 0) !important;

			@include media('min', 'xl') {
				transform: translate(-300px, 0) !important;
			}

			@include media('max', 'lg') {
				transform: translate(0, 200px) !important;
			}

			@include media('max', 'sm') {
				transform: translate(0, 230px) !important;
			}
		}
	}
}

// projects
.projects {
	color: #fff;
	font-family: $main-font;

	@include media('max', 'lg') {
		margin-top: 150px;
	}

	h2 {
		@include main-title;
	}

	&__categories {
		margin-top: 30px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&__cat-item {
		@include accent-button;

		min-width: 120px;
		font-weight: bold;
		padding: 8px 30px;
		font-size: $category-size;
		margin: 0 10px 10px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		p {
			padding: 0;
			margin: 0;
			font-family: $term-font;
		}

		&-selected {
			color: #fff;
			background-color: $accent-faded-color;
		}
	}

	&__content {
		perspective: 1400px;
		transform-style: preserve-3d;		
		margin-top: 70px;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	&__case {
		position: relative;
		box-sizing: border-box;
		padding: 15px;
		flex-basis: 550px;
		height: 100%;
		max-height: 350px;
		text-align: center;
		transition: .1s ease-in-out;

		&:nth-child(odd) {
			transform: translateZ(-20px) rotateY(10deg) scale(0.95);
		}
		
		&:nth-child(even) {
			transform: translateZ(-20px) rotateY(-10deg) scale(0.95);
		}

		&:hover {
			transform: translateZ(0) rotateY(0deg) scale(1);
		}

		@include media('max', 'xl') {

			transform: translateZ(0) rotateY(0deg) scale(1) !important;
		}
	}

	&__block {
		position: relative;
		width: 100%;
		padding-top: 58%;
		height: 100%;

		img {
			z-index: 0;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			object-fit: cover;
		}
	}

	&__block:hover &__fade {
		opacity: .85;
		z-index: 1;
	}

	&__block:hover &__details {
		opacity: 1;
	}

	&__block:hover &__button {
		transform: translateY(0);
	}

	&__block:hover &__info h5 {
		transform: translateY(0);
	}

	&__block:hover &__tag {
		opacity: 1;
		transform: translateY(0);
	}

	&__fade {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #000;
		top: 0;
		left: 0;
		z-index: 3;
		opacity: 0;
		transition: .1s ease-in;
	}

	&__details {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		overflow: hidden;
		display: flex;
		opacity: 0;
		transition: .2s ease-in;

		
		transform-style: preserve-3d;
		transform: perspective(1000px);

	}

	&__info {
		h5 {
			transform: translateY(-50px);
			font-size: $project-title-size;
			margin: 15px 0 30px 0;
			opacity: 1;
			transition: .2s ease-in;

			@include media('max', 'sm') {
				margin: 10px 0;
				font-size: 13px;
			}
		}
	}

	&__tags {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 80%;
		margin: 0 auto;

		transform: translateZ(30px);

		@include media('max', 'sm') {
			margin-top: 0;
			width: 100%;
		}
	}

	&__tag {
		@include accent-button;

		opacity: 0;
		transform: translateY(-15px);
		transition: .1s ease-in-out;
		transition-property: transform, opacity;
		margin: 7px 5px;
		padding: 5px 15px;
		box-sizing: border-box;
		font-size: $tag-size;

		@include media('max', 'sm') {
			margin: 3px;
			padding: 5px 10px;
			font-size: $tag-sm-size;
		}

		p {
			padding: 0;
			margin: 0;
		}
	}

	&__button {
		@include accent-button;

		padding: 10px 18px;
		color: $accent-color;
		font-size: $tag-size;
		min-width: 120px;
		margin: 10px 5px;
		border: 1px solid $accent-color;
		transform: translateY(50px);
		transition: transform .2s ease-in;

		@include media('max', 'sm') {
			padding: 7px 13px;
			font-size: 10px;
		}
	}

}
 
// footer
.footer {
	text-align: center;
	margin-top: 70px;

	h2 {
		@include main-title;
		text-align: left;
	}

	&__socials {
		display: flex;
		justify-content: center;
		margin-top: 30px;
		margin-bottom: 70px;

		@include media('max', 'sm') {
			flex-direction: column;
			margin-bottom: 30px;
		}
	}

	&__link {
		@include accent-button;
		text-decoration: none;
		margin: 0 7.5px;

		@include media('max', 'sm') {
			margin: 7.5px 0;
		}

		p {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0;
			padding: 10px 40px;
			font-weight: bold;
			font-size: $footer-link-size;
			font-family: $term-font;

			svg {
				margin-left: 10px;
				width: 25px !important;
				height: 25px !important;
				color: #fff;
			}
		}
	}
}

// components
.terminal {
	filter: drop-shadow(0px 20px 35px rgba(0, 0, 0, 0.5));
	color: $accent-color;
	max-width: 750px;
	overflow: hidden;

	// header
	&__header {
		border-radius: 6px 6px 0 0;
		height: 24px;
		box-sizing: border-box;
		padding: 0 8px;
		background: linear-gradient(180deg, $terminal-top-color 0%, $terminal-bottom-color 70.25%);
		align-items: center;
		display: flex;
	}

	&__controls {
		display: flex;

		button {
			cursor: pointer;
			border-radius: 50%;
			width: 13px;
			height: 13px;
			padding: 0;
			margin: 0;
			margin-right: 8px;
			outline: none;
			border: none;
		}
	}

	&__close {
		position: relative;
		border: 1px solid $terminal-close-border-color !important;
		background-color: $terminal-close-color;

		&::after {
			position: absolute;
			content: '';
			width: 40%;
			height: 40%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			background-color: $terminal-close-dot-color;
		}
	}

	&__minimize {
		border: 1px solid $terminal-minimize-border-color !important;
		background-color: $terminal-minimize-color;
	}

	&__maximize {
		border: 1px solid $terminal-maximize-border-color !important;
		background-color: $terminal-maximize-color;
	}

	// body
	&__body {
		background-color: #000;
		border-radius:  0 0 6px 6px;
		border: 1px solid $terminal-border-color;
		box-sizing: border-box;
		padding: 6px 9px;
		font-family: $term-font;
		color: $accent-color;
		font-weight: bold;
		font-size: $terminal-size;
		min-height: 300px;

		p {
			margin: 0;
			padding: 0;
		}
	}

	&__cursor {
		display: inline-block;
		height: 12px;
		width: 6px;
		background-color: $terminal-cursor-color;
		transform: translateY(1px);

		animation: terminal-cursor 1s infinite;
	}

	.txt-type > .txt {
		&::after {
			content: '';
			display: inline-block;
			height: 12px;
			width: 6px;
			background-color: $terminal-cursor-color;
			transform: translateY(1px);
			animation: terminal-cursor .5s steps(5, start) infinite;
		}
	}
}


.text-glitch {
  position: relative;

	&:after, &:before {
		content: attr(data-text);
		position: absolute;
		top:0;
		color:$accent-light-color;
		background:black;
		overflow:hidden;
		clip:rect(0,900px,0,0); 
	}

	&:after {
		left: 1px;
		text-shadow: -1px 0 $accent-faded-color;
		// animation: noise-anim-1 1s infinite linear alternate-reverse;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-direction: alternate-reverse;
		animation-timing-function: linear;
	}

	&:before {
		left: -1px;
		text-shadow:1px 0 white; 
		// animation: noise-anim-1 2s infinite linear alternate-reverse;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-direction: alternate-reverse;
		animation-timing-function: linear;
	}

	&.noise-anim-1 {
		&:after {
			animation-name: noise-anim-1;
		}
		&:before {
			animation-name: noise-anim-1;
		}
	}

	&.noise-anim-2 {
		&:after {
			animation-name: noise-anim-2;
		}
		&:before {
			animation-name: noise-anim-2;
		}
	}

	&.noise-anim-3 {
		&:after {
			animation-name: noise-anim-3;
		}
		&:before {
			animation-name: noise-anim-3;
		}
	}

	@keyframes noise-anim-1{
		$steps:10;
		@for $i from 0 through $steps{
			#{percentage($i * (1 / (4 * $steps)))}{
				clip:rect(random(10) + px, 9999px, random(10) + px, 0);
			}
		}
	}

	@keyframes noise-anim-2{
		$steps:10;
		@for $i from 0 through $steps{
			#{percentage($i * (1 / (2 * $steps)))}{
				clip:rect(random(5) + px, 9999px, random(5) + px, 0);
			}
		}
	}

	@keyframes noise-anim-3{
		$steps:10;
		@for $i from 0 through $steps{
			#{percentage($i * (1 / (16 * $steps)))}{
				clip:rect(random(10) + px, 9999px, random(10) + px, 0);
			}
		}
	}
}
