$sizes: ("xs":320px, "sm":576px, "md":768px, "lg":992px, "xl":1200px);

// Media queries
@mixin media($minmax, $media) {
  @each $size, $resolution in $sizes {
    @if $media == $size {
      @media only screen and (#{$minmax}-width: $resolution) {
        @content;
      }
    }
  }
}

@mixin accent-button() {
  cursor: pointer;
  background-color: transparent;
  color: $accent-color;
  border: 1px solid $accent-color;
  outline: none;
  border-radius: 4px;
  overflow: hidden;

  &:hover {
    color: #fff;
    background-color: $accent-faded-color;
  }
}

@mixin main-title() {
  font-size: $title-lg-size;
  font-weight: 900;
  margin-bottom: 0;
  color: #fff;

  @include media('max', 'sm') {
    font-size: $title-sm-size;
  }
}

@mixin secondary-title() {
  font-size: $title-secondary-lg-size;
  font-weight: 900;
  margin-bottom: 0;
  color: #fff;

  @include media('max', 'sm') {
    font-size: $title-secondary-sm-size;
  }
}