// colors
$bg-color: #000;
$accent-color: #30E52F;
$accent-faded-color: rgba(48, 229, 47, 0.3); 
$accent-light-color: #B7FFB7; 
$image-mock-color: #1C1C1C;

// terminal colors
$terminal-border-color: #3B3B3B;

$terminal-close-color: #FF605C;
$terminal-close-dot-color: #4B0000;
$terminal-close-border-color: #DD6461;

$terminal-minimize-color: #FFBD44;
$terminal-minimize-border-color: #EDB34A;

$terminal-maximize-color: #00CA4E;
$terminal-maximize-border-color: #10BC52;

$terminal-top-color: #EFEFEF;
$terminal-bottom-color: #bbbbbb;

$terminal-cursor-color: #44FC3C;


// fonts
$main-font: 'Montserrat', sans-serif;
$term-font: 'Consolas', sans-serif;

// font-size
$menu-item-size: 16px;
$terminal-size: 12.5px;

$title-lg-size: 56px;
$title-sm-size: 36px;


$title-secondary-lg-size: 36px;
$title-secondary-sm-size: 24px;

$category-size: 16px;
$tag-size: 12.5px;
$tag-sm-size: 9px;
$project-title-size: 20px;

$footer-link-size: 20px;

$view-lg-font: 20px;
$view-sm-font: 18px;
$view-button-lg-size: 20px;
$view-button-sm-size: 16px;
