@import './mixins.scss';
@import './variables.scss';

.work {
	h2 {
		@include main-title;
	}

	h3 {
		@include secondary-title;
		margin-top: 40px;
	}

	p {
		max-width: 800px;
		color: $accent-color;
		font-family: $term-font;
		font-weight: bold;
		font-size: $view-lg-font;
		margin: 20px 0;
		line-height: 150%;

		@include media('max', 'sm') {
			font-size: $view-sm-font;
		}
	}

	a {
		color: $accent-color;
		&:hover {
			color: #fff;
		}
	}

	ul {
		color: $accent-color;
		font-family: $term-font;
		font-size: $view-lg-font;
		padding: 0;
		list-style: none;
		line-height: 150%;
		margin: 20px 0;
		font-weight: bold;

		@include media('max', 'sm') {
			font-size: $view-sm-font;
		}

		li {
			position: relative;
			display: flex;
			align-items: center;

			&::before {
				position: relative;
				display: block;
				margin-right: 15px;
				content: '';
				width: 8px;
				height: 8px;
				background-color: $accent-color;
				border-radius: 50%;
			}
		}
	}

	&__excerpt {
		max-width: 640px;
	}

	&__buttons {
		margin-top: 10px;
		display: flex;
		flex-wrap: wrap;

		@include media('max', 'sm') {
			flex-direction: column;
		}

		a {
			@include accent-button;
			text-decoration: none;
			padding: 0;
			margin: 7.5px 0;
			text-align: center;

			 
			&:first-child {
				margin-right: 20px;

				@include media('max', 'sm') {
					margin-right: 0;
				}
			}

			&:hover {
				p {
					color: #fff;
				}
			}

			p {
				margin: 0;
				font-size: $view-button-lg-size;
				padding: 10px 20px;
			}
		}
	}
}

/* external css: flickity.css */

.carousel {
  background: transparent;
	margin: 60px 0;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 200px;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
}

.flickity-button {
	width: 30px !important;
	height: 30px !important;
} 